// Place all the styles related to the checker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.csv-upload-element {
	display: inline-block !important;
	padding-top: 15px;
}

.display-selector{
	margin: 10px;
}

.dupe-container {
	margin-bottom: 50px;
}